@{
    ViewData["Title"] = "Home Page";
}

<div data-brackets-id='1' class="text-center">
    <h1 data-brackets-id='2' class="display-4">Welcome</h1>
    <p data-brackets-id='3'>Learn about <a data-brackets-id='4' href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
<title>What We Do</title>
    <body>Our goal is to stay connected through fitness.  Wellness Warrior was desgined as a personal log to track your daily fitness while interacting with your friends.  You are able to create your own log and connect with others on the site through our social tab.  Wellness Warrior is a fun way to interact and still be active during a time of social distancing.</body>
    <title>About Us</title>
    <body>We are all MIS students at the University of Alabama looking to bring people together during the COVID-19 pandemic.  We have chosen to use fitness and activity as a way to connect and share with others.  This webpage was made to help our minds and bodies stay active and united.</body>
    <title>Get Started</title>
    <body>Click the link below to sign-up and start sharing today at no cost!</body>
</div>
