@model Uplift.Models.progress

@{
    ViewData["Title"] = "Admin Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Edit</h1>

<h4>User progress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Username</label>
                <input asp-for="UserId" value="@ViewBag.UserId" style="visibility:hidden">
                <input class="form-control" value="@ViewBag.UserId" disabled>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Create Date</label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Flights Climbed</label>
                <input asp-for="flights" class="form-control" />
                <span asp-validation-for="flights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Steps</label>
                <input asp-for="steps" class="form-control" />
                <span asp-validation-for="steps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Run/Walk Distance</label>
                <input asp-for="distance" class="form-control" />
                <span asp-validation-for="distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

