@model Uplift.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript">

    $(document).ready(function () {

        var viewBagAlert = "@ViewBag.alert";
        if (viewBagAlert != "" ) {
            document.getElementById("alertPane").classList.add("alert-success");
            document.getElementById("alertPane").style.visibility = "visible";

            document.getElementById("alertPane").innerHTML = "@ViewBag.alert";
            document.getElementById("email").disabled = true;
            document.getElementById("name").disabled = true;
            document.getElementById("rating").disabled = true;
            document.getElementById("comment").disabled = true;
            document.getElementById("submit").disabled = true;
        }
    })

        </script>
    </head>

<h1>Contact Us</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div id="alertPane" class="rounded border-secondary text-center" style="visibility:hidden; padding:10px">
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input id="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input id="name" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <br />
                    <label style="text-align:left; width:49%"><em>1 - Poor</em></label>
                    <label style="text-align:right; width:49%"><em>Great - 10</em></label>
                    <input id="rating" type="range" min="1" max="10" list="options" asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                    <datalist id="options">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <textarea id="comment" asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id ="submit" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>



